.address {
    margin-left: .5rem;
    cursor: pointer;
    color: gray
}

.address::after {
    color: white;
    background-color: #444;
    border-radius: .4rem;
    padding: .5rem;

    position: absolute;
    transform: translate(.5rem, -.5rem)
}

.address:hover::after {
    content: attr(hover-text)
}