.users {
    height: 100%
}

.loading, .error, .loaded {
    composes: users
}

.loaded {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none
}

.loaded > li {
    margin: 1rem
}

.error {
    display: flex;
    align-items: center;
    justify-content: center
}