.users {
    height: 100%
}

.loading, .error, .loaded {
    composes: users
}

.loaded {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center
}

.createButton {
    margin-top: 1rem;
}

.list {
    display: flex;
    flex-direction: column;

    list-style: none
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem
}

.item > * {
    margin: 0 .5rem
}

.error {
    display: flex;
    align-items: center;
    justify-content: center
}