.users {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center
}

.editableUsers {
    composes: users
}

.create {
    margin-top: 1rem;
}

.listContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: auto
}

.list {
    display: flex;
    flex-direction: column;

    list-style: none
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem
}

.editableUsers .item {
    border: thin solid #666;
    border-radius: .4rem;

    padding: .5rem
}

.item > * {
    margin: 0 .5rem
}