.server {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.server > * {
    margin: 1rem
}

.icon {
    width: 10rem;
    height: 10rem
}

.motd {
    font-size: 2rem;
    margin-bottom: 0rem
}

.version {
    margin-top: 0;
    color: gray
}

.players {
    margin-top: 2rem;
    flex-grow: 1
}

.players > .header {
    text-align: center
}