.server {
    height: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center
}

.server > :not(:first-child) {
    margin-top: 2rem
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center
}

.icon {
    margin-bottom: 1rem;

    width: 10rem;
    height: 10rem
}

.motd {
    font-size: 2rem
}

.version {
    color: gray
}