.UserCard {
    cursor: pointer;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 3rem 2rem
}

.UserCard > .UserIcon {
    grid-column: 1;
    grid-row: 1/2;
    width: 4rem;
    height: 4rem;
    margin: .5rem
}

.UserCard > .TaggedUserName {
    font-size: 1.25rem;
    align-self: end;
    grid-column: 2;
    grid-row: 1
}

.UserCard > .UserOnlineIndicator {
    align-self: start;
    grid-column: 2;
    grid-row: 2
}