.valid {
    display: block;
    flex-grow: 1;
    padding: .75rem;
    font-size: .9rem;
    border-radius: .4rem;
    border: thin solid #666;
    color: black
}

.invalid {
    composes: valid;
    border: thin solid red
}