.Profile {
    padding: 2rem
}

.Profile .field {
    position: relative;
    height: 2rem;
    margin: 1rem
}

.Profile .label, .Profile .value {
    position: absolute;
    display: inline-block;
    padding: .4rem
}

.Profile .value {
    left: calc(50% + .5rem);
    background-color: dimgray;
    border-radius: .4rem
}

.Profile .label {
    right: calc(50% + .5rem)
}

.Profile .nicknames {
    background-color: #444;
    border-radius: .4rem;
    padding: 1rem
}

.Profile .nicknames .label {
    position: relative;
    bottom: .4rem
}

.Profile .nicknames .label, .Profile .nicknames {
    left: 50%;
    transform: translateX(-50%)
}

.Profile .nicknames {
    display: inline-block;
    height: auto
}

.Profile .nicknames .value-list {
    display: flex;
    flex-direction: column;
    list-style: none
}

.Profile .nicknames .value {
    position: initial;
    margin: .4rem 0;
    text-align: center
}

.Profile .offline.value {
    color: #E81818
}

.Profile .online.value {
    color: #18E818
}

.Profile .admin.value {
    color: gold
}

.Profile .user.value {
    color: cyan
}

.Profile .system.value {
    color: purple
}