.SignIn {
    width: 14rem;
    background-color: #151515;
    border-radius: .2rem;
}

.SignIn fieldset {
    border: none
}

.SignIn fieldset > * {
    width: 12rem;
    margin: 1rem
}

.SignIn legend {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

.SignIn .buttons {
    display: flex;
    justify-content: space-between
}

.SignIn .buttons * {
    width: 5rem
}

.SignIn .error-message {
    width: 10rem;
    font-size: .8rem;
    margin: 0 1rem;
    color: red
}