.ContentSelector {
    list-style: none;
    width: 6rem
}

.ContentSelector > .content > .Button {
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent
}

.ContentSelector > .content > .Button:hover {
    background-color: rgba(255, 255, 255, 20%)
}

.ContentSelector > .content > .Button:active {
    background-color: rgba(255, 255, 255, 30%)
}