* {
    margin:  0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white
}

html, body, #root {
    overflow: hidden;
    height: 100%
}

body {
    background-color: black
}