.window {
    width: 100%;
    height: 100%
}

.header {
    padding: .8rem;

    background-color: #333;

    display: grid;
    align-items: center;
    grid-template-columns: 8rem calc(100% - 16rem) 8rem;
    grid-template-rows: 1.9rem;

    width: 100%;
    height: 3.5rem;

    border-radius: .4rem .4rem 0 0
}

.title {
    text-align: center;
    grid-column: 2
}

.leftButton {
    grid-column: 1
}

.rightButton {
    grid-column: 3;
    justify-self: end
}

.main {
    position: relative;

    background-color: #222;
    border-radius: 0 0 .4rem .4rem;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: calc(100% - 3.5rem)
}