.Profile {
    height: 100%
}

.loaded.Profile {
    display: flex;
    flex-direction: column;
    align-items: center
}

.loaded.Profile > .TaggedUserName {
    display: flex;
    flex-direction: column;
    align-items: center
}

.loaded.Profile > .TaggedUserName > * {
    margin: .25rem
}

.loaded.Profile > * {
    margin: 1rem
}

.loaded.Profile > .UserIcon {
    width: 10rem;
    height: 10rem
}

.loaded.Profile > .UserOnlineIndicator {
    margin: 0
}

.loaded.Profile > .section {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem
}

.loaded.Profile > .section > * {
    margin: .5rem
}

.loaded.Profile > .section > h3 {
    margin: 1rem;
    font-size: 1rem;
    text-align: center
}

.loaded.Profile > .section > .Field {
    font-size: .8rem
}

.error.Profile {
    display: flex;
    align-items: center;
    justify-content: center
}