.ServerViewer {
    height: 100%
}

.loaded.ServerViewer {
    display: flex;
    flex-direction: column;
    align-items: center
}

.loaded.ServerViewer > * {
    margin: 1rem
}

.loaded.ServerViewer > .ServerIcon {
    width: 10rem;
    height: 10rem
}

.loaded.ServerViewer > .ServerMotd {
    font-size: 2rem;
    margin-bottom: 0rem
}

.loaded.ServerViewer > .ServerVersion {
    margin-top: 0;
    color: gray
}

.loaded.ServerViewer > .players.section {
    margin-top: 2rem
}

.loaded.ServerViewer > .players.section > h3 {
    text-align: center
}

.error.ServerViewer {
    display: flex;
    align-items: center;
    justify-content: center
}