.signedIn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.signedIn > * {
    margin: 0 .5rem
}

.signedIn > .name {
    font-size: 1.2rem
}

.signedIn > .icon {
    width: 2.25rem;
    cursor: pointer
}

.signedIn > .options {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 2.8rem;
    border-radius: 0 0 .4rem .4rem;
    padding: .4rem;
    background-color: #151515;
    width: calc(100% - .5rem)
}

.signedIn > .options > * {
    width: 100%
}