.Header {
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: max(2rem, calc((100% - 60rem) / 2));
    padding-right: max(2rem, calc((100% - 60rem) / 2));
    height: 3.5rem
}