/* Common */

.terminal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.terminal * {
    font-family: monospace
}

/* Output */

.output {
    word-wrap: break-word;
    white-space: pre-wrap;
    list-style: none;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    background-color: black;
    border-radius: .5rem;
    margin: .5rem
}

.record {
    margin: .5rem;
    line-height: 1.25rem
}

.inputRecord,
.outputRecord,
.infoRecord,
.successRecord,
.errorRecord {
    composes: record
}

.record > .time::after {
    content: " ";
}

.record > .time {
    color: gray
}

.successRecord > .text {
    color: lime
}

.errorRecord > .text{
    color: firebrick
}

.infoRecord > .text {
    color: gray;
}

.outputRecord > .text {
    color: lightgreen;
}

.outputRecord > .time,
.successRecord > .time,
.errorRecord > .time,
.infoRecord > .time {
    display: none
}

.successRecord > .text,
.errorRecord > .text,
.infoRecord > .text {
    display: block;
    text-align: center
}

/* Form */

.form {
    display: flex
}

.form > * {
    margin: .5rem
}