/* Common */

.Terminal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.Terminal * {
    font-family: monospace
}

/* Output */

.Terminal > .output {
    word-wrap: break-word;
    white-space: pre-wrap;
    list-style: none;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    background-color: black;
    border-radius: .5rem;
    margin: .5rem
}

.Terminal > .output > .record {
    margin: .5rem;
    line-height: 1.25rem
}

.Terminal > .output > .record > .time::after {
    content: " ";
}

.Terminal > .output > .record > .time {
    color: gray
}

.Terminal > .output > .success.record > .text {
    color: lime
}

.Terminal > .output > .error.record > .text{
    color: firebrick
}

.Terminal > .output > .info.record > .text {
    color: gray;
}

.Terminal > .output > .output.record > .text {
    color: lightgreen;
}

.Terminal > .output > .output.record > .time,
.Terminal > .output > .success.record > .time,
.Terminal > .output > .error.record > .time,
.Terminal > .output > .info.record > .time {
    display: none
}

.Terminal > .output > .success.record > .text,
.Terminal > .output > .error.record > .text,
.Terminal > .output > .info.record > .text {
    display: block;
    text-align: center
}

/* Form */

.Terminal > form {
    display: flex
}

.Terminal > form > .Input {
    flex-grow: 1
}

.Terminal > form > * {
    margin: .5rem
}