.fields {
    width: 15rem;

    border-radius: .4rem;
    background-color: #222;
    border: none;

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.fields > * {
    margin: 1rem
}

.error {
    margin:.5rem 1rem 
}

.header {
    font-size: 1.5rem;
    text-align: center;

    width: 7rem;
    height: 3.5rem;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(2.5rem)
}

.buttons {
    display: flex;
    justify-content: space-between
}

.buttons > * {
    width: 6rem
}