.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin black solid;
    padding: 1rem 3rem;
    background-color: #151515
}

.Header .logo {
    font-size: 2rem
}