.button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    transition: .08s filter;
    filter: brightness(.8)
}

.button:hover {
    filter: brightness(1)
}

.button:active {
    filter: brightness(.6)
}

.children {
    display: none
}