.IconButton {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    transition: .08s filter;
    filter: brightness(.8);
    color: transparent
}

.IconButton:hover {
    filter: brightness(1)
}

.IconButton:active {
    filter: brightness(.6)
}