.disabledContainer {
    flex-grow: 1;

    border: thin solid #666;
    border-radius: .4rem;

    transition: background-color .08s;
    background-color: #484848;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    composes: disabledContainer
}

.container:hover {
    background-color: #555
}

.container:active {
    background-color: #444
}

.input {
    display: none
}

.label {
    cursor: pointer;
    display: block;
    padding: .5rem;
    width: 100%;
    text-align: center
}