.container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 15rem;

    border-radius: .4rem;
    background-color: #222;
}

.modal > * {
    margin: 1rem
}

.header {
    text-align: center
}

.question {

}

.input {
    display: flex;
    flex-direction: column
}

.input > *:not(:first-child) {
    margin-top: .5rem
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem
}

.answers > * {
    flex-grow: 1
}

.answers > * {
    margin: .5rem
}

.checkBox {
    display: flex;
    justify-content: center;

    width: 100%
}

.checkBox > *:not(:first-child) {
    margin-left: .5rem
}