.profile {
    height: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center
}

.icon {
    width: 10rem
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: .5rem
}

.general > * {
    margin: .25rem
}

.sections > *{
    margin: 2rem
}

.buttons {
    display: flex
}

.buttons > * {
    width: 9rem;
    margin: 0 .5rem
}