.profile {
    height: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center
}

.icon {
    width: 10rem
}

.taggedName {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.taggedName > * {
    margin: .25rem
}

.onlineIndicator {
    margin-top: .25rem
}

.sections > *{
    margin: 2rem
}