/* Common */

.button {
    overflow: hidden;
    position: relative;

    background-color: #484848;
    transition: background-color .08s;
    transition: opacity .08s;

    border: thin solid #666;
    border-radius: .4rem;

    padding: .75rem;
    font-size: .9rem;
    cursor: pointer
}

/* White */

.white .children {
    color: #E8E8E8
}

.white:hover .children {
    color: #FFF
}

.white:active .children {
    color: #EEE
}

.white:disabled .children {
    color: #DDD
}

/* Green */

.green .children {
    color: #18E818
}

.green:hover .children {
    color: #2F2
}

.green:active .children {
    color: #1E1
}

.green:disabled .children {
    color: #0D0
}

/* Red */

.red .children {
    color: #E81818
}

.red:hover .children {
    color: #F22
}

.red:active .children {
    color: #E11
}

.red:disabled .children {
    color: #D00
}

/* Active */

.active:hover {
    background-color: #555
}

.active:active {
    background-color: #444
}

/* Loading */

.loading > .children {
    opacity: 0
}

/* Disabled */

.disabled {
    border: thin solid #444;
    background-color: #333
}