/* Common */

.button {
    overflow: hidden;
    position: relative;
    background-color: #484848;
    border: thin solid #666;
    padding: .75rem;
    font-size: .9rem;
    border-radius: .4rem;
    transition: .08s background-color
}

/* Regular */

.regular .children {
    color: #E8E8E8
}

.regular:hover .children {
    color: #FFF
}

.regular:active .children {
    color: #EEE
}

.regular:disabled .children {
    color: #DDD
}

/* Submit */

.submit .children {
    color: #18E818
}

.submit:hover .children {
    color: #2F2
}

.submit:active .children {
    color: #1E1
}

.submit:disabled .children {
    color: #0D0
}

/* Cancel */

.cancel .children {
    color: #E81818
}

.cancel:hover .children {
    color: #F22
}

.cancel:active .children {
    color: #E11
}

.cancel:disabled .children {
    color: #D00
}

/* Active */

.active:hover {
    background-color: #555
}

.active:active {
    background-color: #444
}

/* Loading */

.loading > .children {
    transition: .08s opacity;
    opacity: 0
}

/* Disabled */

.disabled {
    border: thin solid #444;
    background-color: #333
}