.ContentWindow {
    width: 100%;
    height: 100%
}

.ContentWindow > * {
    padding: .8rem
}

.ContentWindow > .main {
    position: relative;
    background-color: #222;
    border-radius: 0 0 .4rem .4rem;
    overflow: scroll;
    height: calc(100% - 3.5rem)
}

.ContentWindow > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 3.5rem;
    border-radius: .4rem .4rem 0 0
}

.ContentWindow > .header > h2 {
    text-align: center
}