.signedIn {
    cursor: pointer;
    position: relative
}

.user {
    display: flex;
    align-items: center
}

.name {
    font-size: 1.2rem
}

.icon {
    margin-left: .5rem;
    width: 2.25rem
}

.options {
    position: absolute;

    width: calc(100%);

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    border-radius: 0 0 .4rem .4rem;
    background-color: #151515;

    padding: .4rem
}

.options > * {
    width: 100%
}